.Rproj.user
.Rhistory
.RData
GLMs2pdf.tex
knitr_cache
hideslide.lua
GLM_AEET.pdf
ModelosLineales.pdf
ZuurDataMixedModelling.zip
easydashboard.html
lm_files
lm_cache
Bayes_intro_cache
Bayes_intro_files
